# Project Notebook: Optimizing DataFrames and Processing in Chunks

## 1. Introduction

In this project, we'll practice working with chunked dataframes and optimizing a dataframe's memory usage. We'll be working with financial lending data from Lending Club, a marketplace for personal loans that matches borrowers with investors. You can read more about the marketplace on its website.

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to fund. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges.

We'll be working with a dataset of loans approved from 2007-2011 (https://bit.ly/3H2XVgC). We've already removed the desc column for you to make our system run more quickly.

If we read in the entire data set, it will consume about 67 megabytes of memory. Let's imagine that we only have 10 megabytes of memory available throughout this project, so you can practice the concepts you learned in the last two lessons.

**Tasks**

1. Read in the first five lines from `loans_2007.csv` (https://bit.ly/3H2XVgC) and look for any data quality issues.

2. Read in the first 1000 rows from the data set, and calculate the total memory usage for these rows. Increase or decrease the number of rows to converge on a memory usage under five megabytes (to stay on the conservative side).

In [14]:
# Importing pandas
import pandas as pd
pd.options.display.max_columns = 99

# Your code goes here
loans_pd = pd.read_csv("https://bit.ly/3H2XVgC")
loans_pd.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [15]:
loans_pd = pd.read_csv("https://bit.ly/3H2XVgC", nrows=1000)
print("memory usage is ",(loans_pd.memory_usage(deep=True).sum()/(1024*1024)))

memory usage is  1.5273666381835938

increasing chunk

In [16]:
memory = 0
x = 1000
while(memory <=5):
  x += 100
  loans_pd = pd.read_csv('https://bit.ly/3H2XVgC', nrows=x,)
  memory = loans_pd.memory_usage(deep=True).sum()/(1024*1024)

print('near 5MB no or rows is ', (x - 100 ))
print('memory',memory)
x=3200

near 5MB no or rows is  3200
memory 5.038409233093262

## 2. Exploring the Data in Chunks

Let's familiarize ourselves with the columns to see which ones we can optimize. In the first lesson, we explored column types by reading in the full dataframe. In this project, let's try to understand the column types better while using dataframe chunks.

**Tasks**

For each chunk:
* How many columns have a numeric type? 
* How many have a string type?
* How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
* Which float columns have no missing values and could be candidates for conversion to the integer type?
* Calculate the total memory usage across all of the chunks.

In [17]:
#How many columns have a numeric type?
chunk  =  3200

loans_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          3300 non-null   int64
 1   member_id                   3300 non-null   float64
 2   loan_amnt                   3300 non-null   float64
 3   funded_amnt                 3300 non-null   float64
 4   funded_amnt_inv             3300 non-null   float64
 5   term                        3300 non-null   object
 6   int_rate                    3300 non-null   object
 7   installment                 3300 non-null   float64
 8   grade                       3300 non-null   object
 9   sub_grade                   3300 non-null   object
 10  emp_title                   3107 non-null   object
 11  emp_length                  3205 non-null   object
 12  home_ownership              3300 non-null   object
 13  annual_inc                  3300 non-null   float64
 14  verification_status         3300 non-null   object
 15  issue_d                     3300 non-null   object
 16  loan_status                 3300 non-null   object
 17  pymnt_plan                  3300 non-null   object
 18  purpose                     3300 non-null   object
 19  title                       3300 non-null   object
 20  zip_code                    3300 non-null   object
 21  addr_state                  3300 non-null   object
 22  dti                         3300 non-null   float64
 23  delinq_2yrs                 3300 non-null   float64
 24  earliest_cr_line            3300 non-null   object
 25  inq_last_6mths              3300 non-null   float64
 26  open_acc                    3300 non-null   float64
 27  pub_rec                     3300 non-null   float64
 28  revol_bal                   3300 non-null   float64
 29  revol_util                  3300 non-null   object
 30  total_acc                   3300 non-null   float64
 31  initial_list_status         3300 non-null   object
 32  out_prncp                   3300 non-null   float64
 33  out_prncp_inv               3300 non-null   float64
 34  total_pymnt                 3300 non-null   float64
 35  total_pymnt_inv             3300 non-null   float64
 36  total_rec_prncp             3300 non-null   float64
 37  total_rec_int               3300 non-null   float64
 38  total_rec_late_fee          3300 non-null   float64
 39  recoveries                  3300 non-null   float64
 40  collection_recovery_fee     3300 non-null   float64
 41  last_pymnt_d                3298 non-null   object
 42  last_pymnt_amnt             3300 non-null   float64
 43  last_credit_pull_d          3300 non-null   object
 44  collections_12_mths_ex_med  3300 non-null   float64
 45  policy_code                 3300 non-null   float64
 46  application_type            3300 non-null   object
 47  acc_now_delinq              3300 non-null   float64
 48  chargeoff_within_12_mths    3300 non-null   float64
 49  delinq_amnt                 3300 non-null   float64
 50  pub_rec_bankruptcies        3300 non-null   float64
 51  tax_liens                   3300 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.3+ MB




*  31  columns have numeric type
*  21 colums have string type

In [6]:
print(loans_pd._data)

BlockManager
Items: Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')
Axis 1: RangeIndex(start=0, stop=1000, step=1)
NumericBlock: slice(0, 1, 1), 1 x 1000, dtype: int64
NumericBlock: [ 1  2  3  4  7 13 22 23 25 26 27 28 30 32 33 34 35 36 37 38 39 40 42 44
 45 47 48 49 50 51], 30 x 1000, dtype: float64
ObjectBlock: [ 5  6  8  9 10 11 12 14 15 16 17 18 19 20 21 24 29 31 41 43 46], 21 x 1000, dtype: object

In [ ]:
loans_pd.size

171600

In [18]:
print(loans_pd.memory_usage(deep=True))

Index                            128
id                             26400
member_id                      26400
loan_amnt                      26400
funded_amnt                    26400
funded_amnt_inv                26400
term                          221100
int_rate                      211200
installment                    26400
grade                         191400
sub_grade                     194700
emp_title                     241349
emp_length                    209871
home_ownership                206117
annual_inc                     26400
verification_status           225726
issue_d                       214500
loan_status                   220958
pymnt_plan                    191400
purpose                       235249
title                         242073
zip_code                      204600
addr_state                    194700
dti                            26400
delinq_2yrs                    26400
earliest_cr_line              214500
inq_last_6mths                 26400
open_acc                       26400
pub_rec                        26400
revol_bal                      26400
revol_util                    203750
total_acc                      26400
initial_list_status           191400
out_prncp                      26400
out_prncp_inv                  26400
total_pymnt                    26400
total_pymnt_inv                26400
total_rec_prncp                26400
total_rec_int                  26400
total_rec_late_fee             26400
recoveries                     26400
collection_recovery_fee        26400
last_pymnt_d                  214434
last_pymnt_amnt                26400
last_credit_pull_d            214500
collections_12_mths_ex_med     26400
policy_code                    26400
application_type              221100
acc_now_delinq                 26400
chargeoff_within_12_mths       26400
delinq_amnt                    26400
pub_rec_bankruptcies           26400
tax_liens                      26400
dtype: int64

In [51]:

ln_inter = pd.read_csv("https://bit.ly/3H2XVgC", chunksize = 3200)

percent = []
for x in ln_inter:
  x["id"] = pd.to_numeric(x["id"], errors = "coerce")
  x = x.dropna(axis = 0, subset = ["id"])
  string_unique = x.select_dtypes(include=["object"]).nunique()
  tt_string_column = x.select_dtypes(include=["object"]).count()
  percent.append((100*string_unique/tt_string_column))
  T_unique = pd.concat(percentage)
  T_unique = T_unique.groupby(T_unique.index).mean()
  category_string_columns = list((T_unique[T_unique<50]).index)

print("unique value percent:\n " ,unique_total)

unique value percent:
  addr_state              1.625264
application_type        0.036650
earliest_cr_line       13.297662
emp_length              0.411967
emp_title              92.622973
grade                   0.256549
home_ownership          0.136374
initial_list_status     0.036650
int_rate                2.836398
issue_d                 0.326915
last_credit_pull_d      2.786660
last_pymnt_d            2.185464
loan_status             0.129105
purpose                 0.489841
pymnt_plan              0.038882
revol_util             32.334291
sub_grade               1.278279
term                    0.061204
title                  64.273123
verification_status     0.102318
zip_code               19.489020
dtype: float64

## 3. Optimizing String Columns

We can achieve the greatest memory improvements by converting the string columns to a numeric type. Let's convert all of the columns where the values are less than 50% unique to the category type, and the columns that contain numeric values to the `float` type.

While working with dataframe chunks:
* Determine which string columns you can convert to a numeric type if you clean them. For example, the `int_rate` column is only a string because of the % sign at the end.
* Determine which columns have a few unique values and convert them to the category type. For example, you may want to convert the grade and `sub_grade` columns.
Based on your conclusions, perform the necessary type changes across all chunks. * Calculate the total memory footprint, and compare it with the previous one.

In [76]:
ln_iter = pd.read_csv("https://bit.ly/3H2XVgC", chunksize = 2000)
memory_A = []
for x in ln_iter:
  memory_A.append(x.memory_usage(deep=True).sum()/(1024**2))
total_memory =  sum(memory_A)
print("total memory usage in MB:" ,total_memory)

total memory usage in MB: 65.19094562530518

In [94]:
# Your code goes here

ln_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=3200,)
string_memory = []
for x in ln_iter: 
  x['int_rate'] = x['int_rate'].str.replace('%', '').astype('float')
  x['revol_util'] = x['revol_util'].str.replace('%', '').astype('float')
  x['int_rate'] = pd.to_numeric(x['int_rate'], downcast='float')
  x['revol_util'] = pd.to_numeric(x['revol_util'], downcast='float') 
 
  string_memory.append(x.memory_usage(deep=True))

total_string = pd.concat(string_memory).sum()/(1024*1024)
print(" after column optimization in MB \n",total_string)

 after column optimization
 60.50395584106445

**Conclusion:**
memory usage after  column optimization reduced by 5MB

## 4. Optimizing Numeric Columns

It looks like we were able to realize some powerful memory savings by converting to the category type and converting string columns to numeric ones.

Now let's optimize the numeric columns using the `pandas.to_numeric()` function.

**Tasks**

While working with dataframe chunks:
* Identify float columns that contain missing values, and that we can convert to a more space efficient subtype.
* Identify float columns that don't contain any missing values, and that we can convert to the integer type because they represent whole numbers.
* Based on your conclusions, perform the necessary type changes across all chunks.
* Calculate the total memory footprint and compare it with the previous one.

In [107]:
ln_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=3200,)

optimized_usage = []
for x in ln_iter:
  
  x['id'] = pd.to_numeric(x['id'], errors='coerce') 
  x = chunk.dropna(axis=0, subset=['id'])
  optimized_usage.append(x.memory_usage(deep=True))

#sum up the memory usage
total_optimized= pd.concat(optimized_usage).sum()/(1024*1024)

print("usage after optimization in MB\n" ,total_optimized)

usage after optimization in MB
 19.47215461730957

Conclusion 

in comparison Numeric  optimization is better than  string optimization as it uses less memory